      <%= render "partials/banner" %>





      <!-- SECTION ETAPE 1 FAIRE PART -->

      <div class="section-name">
        <h2>ÉTAPE 1 : FAIRE-PART</h2>
        <p>format standard 5 x 7 po (orientation verticale ou horizontale)</p>
      </div>

      <div class="section-choice">

        <div class="choix-nombre">
          <div class="choix-top">
            <h2>Nombre de faire-part</h2>
          </div>
          <div class="choix-nombre-bottom">
            <h2>25</h2>
          </div>
        </div>

        <div class="choix-env">
          <div class="choix-top">
            <h2>Besoin d'enveloppes</h2>
          </div>
          <div class="choix-env-bottom">
            <h2>Oui!</h2>
          </div>
        </div>


        <div class="choix-char">
          <div class="choix-top">
            <h2>Type de faire-part</h2>
          </div>
          <div class="choix-char-bottom">
            <h2>25</h2>
          </div>
        </div>


      </div>



      <!-- SECTION ETAPE 2 CARTE REPONSES -->

      <div class="section-name">
        <h2>ÉTAPE 2 : CARTES-RÉPONSES</h2>
        <p>format standard 4 x 5.5 po (orientation verticale ou horizontale)</p>
      </div>

      <div class="section-choice">

        <div class="choix-nombre">
          <div class="choix-top">
            <h2>Nombre de cartes-réponses</h2>
          </div>
          <div class="choix-nombre-bottom">
            <h2>25</h2>
          </div>
        </div>

        <div class="choix-env">
          <div class="choix-top">
            <h2>Besoin d'enveloppes</h2>
          </div>
          <div class="choix-env-bottom">
            <h2>Oui!</h2>
          </div>
        </div>


        <div class="choix-char">
          <div class="choix-top">
            <h2>Type de cartes-réponses</h2>
          </div>
          <div class="choix-char-bottom">
            <h2>25</h2>
          </div>
        </div>


      </div>

 <!-- SECTION ETAPE 3 INVITATION SOIRÉE -->

      <div class="section-name">
        <h2>ÉTAPE 3 : INVITATIONS POUR LA SOIRÉE SEULEMENT</h2>
        <p>format standard 5 x 7 po (orientation verticale ou horizontale)</p>
      </div>

      <div class="section-choice">

        <div class="choix-nombre">
          <div class="choix-top">
            <h2>Nombre d'invitations pour la soirée</h2>
          </div>
          <div class="choix-nombre-bottom">
            <h2>25</h2>
          </div>
        </div>

        <div class="choix-env">
          <div class="choix-top">
            <h2>Besoin d'enveloppes</h2>
          </div>
          <div class="choix-env-bottom">
            <h2>Oui!</h2>
          </div>
        </div>


        <div class="choix-char">
          <div class="choix-top">
            <h2>Type d'invitations pour la soirée</h2>
          </div>
          <div class="choix-char-bottom">
            <h2>25</h2>
          </div>
        </div>


      </div>


<!-- SECTION ETAPE 3 INVITATION SOIRÉE -->

      <div class="section-name">
        <h2>ÉTAPE 4 : MENUS DE TABLE</h2>
        <p>format standard 8 x 3.66 po (orientation verticale)</p>
      </div>

      <div class="section-choice">

        <div class="choix-char">
          <div class="choix-top">
            <h2>Nombre de menus</h2>
          </div>
          <div class="choix-nombre-bottom">
            <h2>25</h2>
          </div>
        </div>


        <div class="choix-char">
          <div class="choix-top">
            <h2>Type de menus</h2>
          </div>
          <div class="choix-char-bottom">
            <h2>25</h2>
          </div>
        </div>


      </div>




























      <%= @faireparts %>
      <br>
      <br>

      <%= @reponses %>
      <br><br>

      <%= @invitations %>
      <br><br>

      <%= @menus %>
