<!DOCTYPE html>
<html>
<head>
  <title>CalculateurFairepart</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div id="mainWrapper">
    <%= render "partials/appBar" %>
    <%= render "partials/banner" %>
    <div id="mainContainer">
      <%= render "partials/navBar" %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
